#red {
    width: 50px;
    height: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    margin: 10px;
    background-color: red;
}

#yellow {
    width: 50px;
    height: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    margin: 10px;
    background-color: yellow;
}

#green {
    width: 50px;
    height: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    margin: 10px;
    background-color: green;
}

div {
    height: 200px;
    width: 70px;
    border: 2px solid black;
}