div {
    border: 2px solid black;
    width: 50%;
}

#outer {
    background-color:aqua;
    height: 500px;
    width: 500px;
    margin: 20px;
}

#inner {
    background-color: bisque;
    height: 15%;
    width: 20%;
    margin: 10%;
}