* {
    font-family:'Courier New';
}

h1,
h3 {
    color: #b92b27;
}

#login {
    background-color: white;
    color: #b92b27;
}

#signup {
    background-color:#b92b27;
    color: white;
}

.upvote {
    background-color: rgb(76, 163, 76);
    color: rgb(207, 247, 249);
}

.post a {
    color: purple;
    background-color:aliceblue;
}

nav ul li a {
    color: rgb(228, 121, 139);
}