.face {
    height: 200px;
    width: 200px;
    margin: 50px;
    border-radius: 50%;
    background-color: rgb(208, 197, 49);
}

.mouth {
    height: 30px;
    width: 80px;
    background-color: rgb(110, 29, 29);
    border-radius: 0 0 15px 15px;
    position: absolute;
    top: 170px;
    left: 115px;
}

.leye {
    height: 35px;
    width: 35px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-right:40px;
    position: absolute;
    top: 100px;
    left: 100px;
}

.reye {
    height: 35px;
    width: 35px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 175px;
}