 h1{
    text-align: center;
    text-decoration: underline;
}

p {
    text-align: start;
    font-weight: normal;
}

h2 {
    text-align: center;
    font-weight: bold;
    text-decoration: over-line;
}

h3 {
    text-align: left;
    font-weight: bold;
    text-decoration: line-through;
}

a {
    text-decoration: none;
}