h1 {
    background-color:bisque;
}

span {
    border: 2px solid black;
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 50px;
}

div {
    border: 2px solid black;
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 50px;
}