div:nth-of-type(2n) {
    background-color: #2A835F;
}

div:nth-of-type(3n) {
    background-color: #8BBB92;
}

section {
    margin-top: 100px;
}

div {
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    height: 50px;
    width: 200px;
    background-color: #12544F;
}

/*Transformation*/

#one {
    transform: rotate(45deg);
}