/* {
    font-family:'Courier New';
}

h1,
h3 {
    color: #b92b27;
}

#login {
    background-color: white;
    color: #b92b27;
}

#signup {
    background-color:#b92b27;
    color: white;
}

.upvote {
    background-color: rgb(76, 163, 76);
    color: rgb(207, 247, 249);
}

.post a {
    color: purple;
    background-color:aliceblue;
}

nav ul li a {
    color: rgb(228, 121, 139);
}

p + h3 {
    text-decoration: underline;
}

.upvote + button {
    background-color: cornflowerblue;
    color: rgb(81, 4, 4);
}

div > input {
    background-color:bisque;
    color:#b92b27;
}

input[type="text"] {
    color: red;
}

input[type="password"] {
    color: green;
}

button:hover {
    background-color:steelblue;
    color: white;
}

h3:hover {
    color:rgb(42, 80, 4);
    text-decoration: none;
}

p:active {
    font-weight: 900;
    color:darkcyan;
}

button:active {
    background-color:hotpink;
    color: black;
}

input[type="radio"]:checked + label {
    color: red;
    font-weight: 900;
}

div:nth-of-type(2n) {
    background-color:beige;
}

h1::first-letter {
    font-size: 55px;
    color: black
}

p::first-line {
    color:rgb(61, 84, 7);
}

p::selection {
    background-color:rgb(247, 238, 159);
}  */

div {
    background-color: yellow;
}

input {
    background-color: inherit;
}

button {
    background-color: inherit;
}